/* קונטיינר לכפתורים */
.filter-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: nowrap;
}

/* סגנונות לכפתורים */
.filter-button,
.add-request-button,
.column-toggle-button,
.clear-filters-button {
  color: #7fff29;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  min-width: 0 !important;
  align-items: center !important;
  position: relative !important;
  padding: 0 !important;
  border: 2px solid #88fb3b !important;
  /* מסגרת ירוקה רגילה */
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s !important;
  left: 0 !important;
  box-shadow: 0 0 8px rgba(0, 188, 0, 0.3);
  /* מסגרת זוהרת ירוקה רגילה */
}

.group-button {
  background-color: #a5d6a7;
}

.manager-button {
  background-color: #81c784;
}

.affected-group-button {
  background-color: #66bb6a;
}

.filter-button:hover,
.add-request-button:hover,
.column-toggle-button:hover,
.clear-filters-button:hover {
  background-color: #388e3c;
  border: 2px solid #88fb3b;
  /* מסגרת ירוקה במצב ריחוף */
  box-shadow: 0 0 16px rgba(0, 188, 0, 0.5);
  /* מסגרת זוהרת ירוקה במצב ריחוף */
}

/* צבעים שונים לאייקונים */
.group-button .MuiSvgIcon-root {
  color: #004d40;
}

.manager-button .MuiSvgIcon-root {
  color: #12ff1a;
}

.affected-group-button .MuiSvgIcon-root {
  color: #004d40;
}

.clear-filters-button .clear-filters-icon {
  color: red;
  /* צבע האייקון לאדום */
}

/* סגנון לכפתור הוספת בקשה */
.add-request-button {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.add-request-button:hover {
  background-color: #388e3c;
  border: 2px solid #88fb3b;
  /* מסגרת ירוקה במצב ריחוף */
  box-shadow: 0 0 16px rgba(0, 188, 0, 0.5);
}

/* סגנון לאייקון ה-+ */
.add-icon {
  font-size: 24px;
}

/* סגנונות לכפתור ניהול עמודות */
.column-toggle-button {
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
}

.column-toggle-button:hover {
  background-color: #388e3c;
  border: 2px solid #88fb3b;
  /* מסגרת ירוקה במצב ריחוף */
  box-shadow: 0 0 16px rgba(0, 188, 0, 0.5);
  /* מסגרת זוהרת ירוקה במצב ריחוף */
}

/* סגנון לאייקון חיצים כפולים */
.column-toggle-icon {
  font-size: 24px;
}

/* סגנונות לכפתור ניקוי פילטרים */
.clear-filters-button {
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s, box-shadow 0.3s, border 0.3s;
  border: 2px solid #88fb3b;
  /* מסגרת ירוקה רגילה */
  box-shadow: 0 0 8px rgba(0, 188, 0, 0.3);
  /* מסגרת זוהרת ירוקה רגילה */
}

.clear-filters-button:hover {
  background-color: #d32f2f;
  border: 2px solid #88fb3b;
  /* מסגרת ירוקה במצב ריחוף */
  box-shadow: 0 0 16px rgba(0, 188, 0, 0.5);
  /* מסגרת זוהרת ירוקה במצב ריחוף */
}

/* סגנון לאייקון ניקוי פילטרים */
.clear-filters-icon {
  font-size: 24px;
  color: red;
  /* צבע האייקון לאדום */
}

.table-container {
  width: 100%;
  overflow: auto;
  /* לוודא שהטבלה נמתחת אם יש יותר מדי תכנים */
}

.table-paper {
  width: 100%;
  margin: 0 auto;
  /* ממרכז את ה-Paper */
}

.my-table {
  width: 80%;
  /* הטבלה תתפרס על 80% מהרוחב של ההורה שלה */
  margin: 0 auto;
  /* תמרכז את הטבלה */
  border-collapse: collapse;
  /* יבטל רווחים בין התאים */
}
/* TableStyles.scss or mainTable.css */

/* עדכון עיצוב של תאי הטבלה */
.custom-table-cell {
  padding: 4px 8px;
  /* הקטנת הרווחים */
  font-size: 12px;
  /* הקטנת גודל הגופן */
}

/* עדכון עיצוב של שורות הטבלה */
.custom-table-row {
  height: 32px;
  /* הקטנת גובה השורות */
}

/* עדכון עיצוב של קונטיינר הטבלה */
.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-paper {
  width: 100%;
  overflow-x: auto;
}